.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  height: 100vh;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 16px 0 16px;
  position: sticky;
  height: 53px;
  top: 0;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
  opacity: 0.98;
}
.feed__title {
  font-size: 20px;
}

.feed__header > svg {
  transform: rotateY(180deg);
}
