.post {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  margin-top: 12px;
}

.post__body {
  flex: 0.8;
}
.post__avatar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex: 0.08;
  padding:  0 12px;
}

.post__display-name {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__username {
  font-weight: 400;
  font-size: 15px;
  color: #828e97;
}

.post__img {
  border-radius: 10px !important;
  width: 93%;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post__options {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
