.sidebar{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    border-right: 1px solid var(--twitter-background);
    height: 100vh;
    overflow: hidden;
}

.sidebar > button {
    color: var(--twitter-color);
    margin-left: 16px;
}

.sidebar__tweet--btn{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: #fff !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    width: 225px !important;
}

